/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2018, 21:02:54
    Author     : Leonardo
*/

body{
    font-family: 'Comfortaa', cursive;
    background-color: #00bfff;
}

.baseForm{ 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: -10% 0 0 -25%;
    position:absolute;
    /*text-align: center; */
    top: 50%;
    left: 50%;
    width: 50%;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input :focus {
    border-color: #00bfff;
}

input[type=submit] {
    width: 20%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00bfff;
}