/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2018, 21:41:20
    Author     : Leonardo
*/

.barraNavegacao {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
}

li:last-child{
    margin-left: auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nome{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;}


li a:hover {
    background-color: deepskyblue;
}

#spacador{
    margin-top: 60px;
}
@media only screen and (max-width: 755px) {
    #spacador { 
        margin-top: 120px;

    }
}