/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/09/2018, 20:40:22
    Author     : Leonardo
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


@import "estiloMenu.css";
body{
    font-family: 'Comfortaa', cursive;
    background-color: #00bfff;
}


section { 
    display: block;
    margin: 10px;

}

article{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;

}

.h1Titulo{
    /*font-family: 'Libre Barcode 128 Text', cursive;*/
    /*font-family: 'MyWebFont',cursive;*/
    /*font-family: 'Maven Pro', sans-serif;*/
    font-family: 'Comfortaa', cursive;

    font-weight: normal;
    font-size: 190%;
    margin: 10px;
}

.labelCometar{
    font-family: 'Comfortaa', cursive;
}
@font-face {
    font-family: 'MyWebFont';
    src: url('./font/OTF/Arkipelago.otf') format('otf'),
        url('./font/TTF/Arkipelago.ttf') format('truetype');
}

.autorFont{
    font-family: 'MyWebFont',cursive;
    font-size: 160%;
    font-weight: normal;
}
.div_comentarios{
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    border-color: #00bfff;
}

input[type=submit] {
    width: 20%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00bfff;
}

textarea , select{
    width: 100%;
    height: 60px;
    padding:1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

textarea :focus {
    border-color: #00bfff;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    left: 0;
    width: 100%;
    display: block;
}

@media only screen and (max-width: 600px) {
    section { 
        display: block;
        margin: 1px;

    }
}