/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/09/2018, 20:40:22
    Author     : Leonardo
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body{
    font-family: 'Comfortaa', cursive;
    background-color: #00bfff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap; 
}


li:last-child{
    margin-left: auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: deepskyblue;
}

footer { 
    display: block;
}

section { 
    display: block;
    margin: 10px;
    
}

article{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;
    
}

.h1Titulo{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 300%;
}

.labelCometar{
    font-family: 'Comfortaa', cursive;
}
.div_comentarios{
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    border-color: #00bfff;
}

input[type=submit] {
    width: 20%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00bfff;
}


