/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/09/2018, 20:40:22
    Author     : Leonardo
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import "estiloMenu.css";
body{
    font-family: 'Comfortaa', cursive;
    background-color: #00bfff;
}

footer { 
    display: block;
}

section { 
    display: block;
    margin: 10px;

}

article{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;

}

h1{
    font-size: 150%;
}
h2{
    font-size: 100%;
}
textarea , select{
    width: 100%;
    padding:1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

textarea :focus {
    border-color: #00bfff;
}

input[type=text], select {
    width: 100%;
    padding:1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    border-color: #00bfff;
}
input[type=password], select {
    width: 100%;
    padding:'px 'px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=password]:focus {
    border-color: #00bfff;
}
input[type=email], select {
    width: 100%;
    padding:1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=email]:focus {
    border-color: #00bfff;
}

input[type=submit] {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00bfff;
}

table {
    border-collapse: collapse;
    width: 80%;


}

th, td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;

}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #ccf3ff;}

